<app-back-button></app-back-button>

<div class="producto-container">
    <div class="div-add">
        
        <button routerLink="/add-productos"  type="submit" class="btn btn-success" >
          <fa-icon [icon]="faPlus"></fa-icon>Producto
        </button>
    </div>
    <div>
      <div class="title-tab">
      <p>Listado de Productos</p>
      </div>  
      <table class="table">
            <thead class="thead-dark">
              <tr>
                
                <th scope="col">descripcion</th>
                <th scope="col">monto</th>
                <th scope="col">distribuidor</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody *ngFor="let obj of productos">
              <tr>
                <th>{{obj.descripcion}}</th>
                <th>{{obj.monto}}</th>
                <th>{{obj.distribuidor.nombre}}</th>
                <th>
                  <button (click)="onDeleteCanal(obj.codigoP)" class="btn btn-danger">
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </button>
                  <button routerLink="/edit-productos/{{obj.codigoP}}"  class="btn btn-warning">
                    <fa-icon [icon]="faPen"></fa-icon>
                  </button>
                </th>
                
                </tr> 
            </tbody>
          </table>
       
     
    </div>
</div>