<app-back-button></app-back-button>

<div class="distribuidor-container">
    <div class="div-add">
        
        <button routerLink="/add-distribuidores"  type="submit" class="btn btn-success" >
          <fa-icon [icon]="faPlus"></fa-icon>Distribuidor
        </button>
    </div>
    <div>
      <div class="title-tab">
        <p>Listado de Distribuidores</p>
        </div> 
        <table class="table">
            <thead class="thead-dark">
              <tr>
                
                <th scope="col">nombre</th>
                <th scope="col">correo notificacion</th>
                <th scope="col">correo alerta</th>
                <th scope="col">canal</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody *ngFor="let obj of distribuidores">
              <tr>
                <th>{{obj.nombre}}</th>
                <th>{{obj.cnotificacion}}</th>
                <th>{{obj.calerta}}</th>
                <th>{{obj.canalAutorizado.nombreCanal}}</th>
                <th>
                  <button (click)="onDeleteCanal(obj.codigo)" class="btn btn-danger">
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </button>
                  <button routerLink="/edit-distribuidores/{{obj.codigo}}"  class="btn btn-warning">
                    <fa-icon [icon]="faPen"></fa-icon>
                  </button>
                </th>
                
                </tr> 
            </tbody>
          </table>
       
     
    </div>
</div>
