<app-back-button></app-back-button>
<div class="container-add">
    <div class="card">
        <div class="card-header">
            Agregar Distribuidor
        </div>
        <div class="card-body">
            <form [formGroup]="formularioDistribuidor"  (ngSubmit)="sendDatos()">
                <div class="mb-3">
                    <label for="" class="form-label">Nombre:</label>
                    <input type="text" formControlName="nombre" class="form-control" name="" id="" placeholder="Nombre de Distribuidor" aria-describedby="helpId">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Correo Alerta:</label>
                    <input type="email" formControlName="calerta" class="form-control" name="" id="" placeholder="correo electronico ej: j@gmail.com" aria-describedby="helpId">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Correo Notificacion:</label>
                    <input type="email" formControlName="cnotificacion" class="form-control" name="" id="" placeholder="correo electronico ej: j@gmail.com" aria-describedby="helpId">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Canales</label>
                    <select  formControlName="canalAutorizado" class="form-select" aria-label="Default select example">
                        <option *ngFor="let obj of canales" [ngValue]="obj" >{{obj.nombreCanal}}</option>
                        
                      </select>
                </div>

                <div class="mb-3 button-form">
                   
                        <button class="btn btn-success" type="submit" >Agregar</button>
                        <button routerLink="/distribuidores" class="btn btn-secondary" >Cancelar</button>
                    
                </div>
            </form>
        </div>
        
    </div>
</div>
