<app-back-button></app-back-button>
<div class="container-add">
    <div class="card">
        <div class="card-header">
            Editar Empleado
        </div>
        <div class="card-body">
            <form [formGroup]="formularioDistribuidor" (ngSubmit)="enviarDatos()" >
                <div class="mb-3">
                    <label for="" class="form-label">Nombre:</label>
                    <input type="text" formControlName="nombre" class="form-control" name="" id="" placeholder="Nombre de Distribuidor" aria-describedby="helpId">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Correo Alerta:</label>
                    <input type="email" formControlName="calerta" class="form-control" name="" id="" placeholder="correo electronico ej: j@gmail.com" aria-describedby="helpId">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Correo Notificacion:</label>
                    <input type="email" formControlName="cnotificacion" class="form-control" name="" id="" placeholder="correo electronico ej: j@gmail.com" aria-describedby="helpId">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Canal Actual:</label>
                    <input readonly type="text" formControlName="cActual" class="form-control" name="" id="" placeholder="Nombre de Distribuidor" aria-describedby="helpId">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Canal Nuevo: </label>
                    <select  class="form-select" aria-label="Default select example" formControlName="canalAutorizado">
                        <option *ngFor="let obj of canales" [ngValue]="obj" >{{obj.nombreCanal}}</option>
                      </select>
                </div>
                
                

                <div class="mb-3 button-form">
                   
                        <button type="submit" class="btn btn-success" >Editar</button>
                        <button routerLink="/distribuidores" class="btn btn-secondary" >Cancelar</button>
                    
                </div>
            </form>
        </div>
        
    </div>
</div>
