<app-back-button></app-back-button>
<div class="container-add">
    <div class="card">
        <div class="card-header">
            Agregar Producto
        </div>
        <div class="card-body">
            
            <form [formGroup]="formularioProducto"  (ngSubmit)="enviarDatos()">
                <div class="mb-3">
                    <label for="" class="form-label">Descripcion:</label>
                    <input type="text" formControlName="descripcion" class="form-control" name="" id="" placeholder="Nombre de Distribuidor" aria-describedby="helpId">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Monto:</label>
                    <input type="number" formControlName="monto" class="form-control" name="" id="" placeholder="correo electronico ej: j@gmail.com" aria-describedby="helpId">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Distribuidor Actual:</label>
                    <input readonly type="text" formControlName="dActual" class="form-control" name="" id="" placeholder="Nombre de Distribuidor" aria-describedby="helpId">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Distribuidores</label>
                    <select  formControlName="distribuidor" class="form-select" aria-label="Default select example">
                        <option *ngFor="let obj of distribuidores" [ngValue]="obj" >{{obj.nombre}}</option>
                        
                      </select>
                </div>

                <div class="mb-3 button-form">
                   
                        <button class="btn btn-success" type="submit" >Editar</button>
                        <button routerLink="/productos" class="btn btn-secondary" >Cancelar</button>
                    
                </div>
            </form>
        </div>
        
    </div>
</div>