/* You can add global styles to this file, and also import other style files */

*{
    margin:0px;
    padding:0px;
    font-family: 'Roboto Mono', monospace;
}
.container-add{
    
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-add > .card{
    width: 50%;
}

.container-add .card-header{
    text-align: center;
    text-transform: uppercase;
}

.button-form{
    display: flex;
    justify-content: center;
 
}

.button-form > button{
    padding: 5px;
    margin: 10px;
    border-radius: 25px;
    width: 120px;
    height: 40px;

}

.title-tab{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}