<div >
  
  <div class="row-12">
    <div>
      <form #addForm="ngForm" (ngSubmit)="onAddCanal(addForm)">
        <div class="form">
          <div class="form-group">
            <button [disabled]="addForm.invalid" class="btn btn-success" type="submit" class="btn btn-primary" >Agregar Canal</button>
        </div>
        <div class="form-group">
          <input type="text" class="form-control"  ngModel name="nombreCanal"  placeholder="ingrese el nombre de un Canal">
        </div>
        </div>
      </form>
     
    </div>
  </div>
  <app-back-button></app-back-button>
  <div class="row-3" *ngIf="isEdit"> 
    <input type="text" #nombreCanalEdit value="{{canalObjeto.nombreCanal}}" class="form-control"   placeholder="ingrese el nombre de un Canal">
    <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
    <button class="btn btn-primary"(click)="onUpdateCanal(nombreCanalEdit.value)">Modificar</button>
    
  </div>
  <div class="card-container">
    <div *ngFor="let obj of canales" class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://res.cloudinary.com/alex4191/image/upload/v1644521039/ME/mapa_qditn2.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Canal: {{obj.nombreCanal}}</h5>
        <div>
          <button class="btn btn-secondary" (click)="onEdit(obj)">Modificar</button>
          <button (click)="onDeleteCanal(obj.codigoCanal)" class="btn btn-danger">Eliminar</button>
        </div>
        </div>
    </div>
  </div>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modificar el canal: </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <input type="text" class="form-control"  ngModel name="nombreCanal"  placeholder="ingrese el nombre de un Canal">
    </div>
  </div>
  <div class="modal-footer">
    <button  type="button" class="btn btn-dark">Modificar</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>

  </div>
</ng-template>
