.card-container{
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
}

.form{
    display: flex;
    background-color: rgb(51, 43, 43);
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.form > .form-group { 
   
    margin: 5px;
    padding: 5px;
    

}

.form > .form-group > input { 
    width: 400px;
    border-radius: 25px;
}
.form > .form-group > button{ 
    width: 150px;   
    border-radius: 25px;
}
.card-container > .card{ 
    margin: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px #c0baba;

}

.card button{
    margin: 5px;
    border-radius: 25px;
}

.row-3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-3 input{
    width: 300px;
    padding-left: 10px;
}
.row-3 button {
    width: 120px;
}
.row-3 button , input{
    border-radius: 25px;
    margin: 5px;
    padding: 5px;
}


