*{
    margin-top: 50px;
}

h1{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing:0.4mm;
    color:#9b9b9b;
    margin: 20px 0 20px 0;
}
.cointainer-menu{
  height:auto;
  display:flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  
}

.grid-container{
  display: flex;
  flex-flow:row;
 

}
.grid-item{
  width: 200px;
  height: 200px;
  display: flex;
  padding: 10px;
  margin: 5px;
  align-items: center;
  justify-content: center;
 background-color: rgb(51, 43, 43);
 font-size: 1.1em;
 border-radius: 25px;

  
}

.grid-item:hover{
  background-color: rgb(199, 69, 29);
  font-size: 1.2em;
}

.grid-container a {
  text-decoration: none;
  color: white;
 
}