<div class="cointainer-menu">
    <h1>Menu</h1>
    <div class="grid-container">
        <a  routerLink="/canales" class="grid-item">
            Canales
        </a>
            <a routerLink="/distribuidores" class="grid-item">
                Distribuidores
            </a>
        <a routerLink="/productos" class="grid-item">
            Productos
        </a>
       
      </div>
</div>
