.nav-back{
    margin:5px ;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}


.btn-back{
    background-color: rgb(202, 84, 29);
    color: white;
    width: 250;
    border-radius: 25px;
}
